<div id="account_num">
    <div class="div_center">
        <div class="show_title">账户余额</div>
    </div>

    <div class="div_center">
        <div class="show_title"><span class="cl_orange" style="font-size: x-large">598</span>元</div>

    </div>

    <button style="width: 90%;" class="btn btn-lg btn-success btn-block div_center mt_20" type="submit">提现</button>

    <div class="navbar navbar-default mt_20" class="active">
        <ul class="nav _center" id="account_nav">
            <li><a id="item_all" href="#">全部</a></li>
            <li><a id="item_out"  href="#">收入</a></li>
            <li><a id="item_in" href="#">支出</a></li>
        </ul>
    </div>
</div>